/* 头部导航栏样式 */
body {
    position: relative;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    font-size: 12px;
}

    .header {

    background: #171a21;

}
.header {

    background-position: center top;
    min-width: 940px;
    height: 104px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 14px;
}
div.header {
    padding-left: 16px;
    padding-right: 16px;
}
.content {
    right: 0;
    position: relative;
    width: 940px;
    height: 104px;
    margin: 0 auto;
    transition: right 0.25s;
    z-index: 402;
}
.logo {
    padding-top: 30px;
    margin-right: 40px;
    float: left;
    width: 176px;
    height: 44px;
    color: #0000FF;
}
/* 导航栏菜单栏 */
.supernav_container {
    position: absolute;
    width: 168px;
    left: 200px;
}

div.header .menuitem {
    position: relative;
    padding: 45px 7px 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    color: #b8b6b4;
    text-transform: uppercase;
}
/* 菜单栏字体悬停样式 */
div.header .menuitem:hover {
    text-decoration: none;
    color: #ffffff;
}
/* 菜单下拉框 */
.xl {
    display: none;
    position: absolute;
    width: 88px;
    top: 90%;
    left: 0;
    background: #000;
    padding: 5px 15px 10px;
    box-shadow: 3px 3px 5px -3px #000;
    text-align: left;
    z-index: 500;
}
/* 菜单栏下拉框2 */
.xl2 {
    display: none;
    position: absolute;
    width: 88px;
    top: 90%;
    left: 30%;
    background: #000;
    padding: 5px 15px 10px;
    box-shadow: 3px 3px 5px -3px #000;
    text-align: left;
    z-index: 500;
}
/* 下拉框距离左边间距 */
.submenu_content {
    margin-left: 15px;
}
/* 菜单下拉框字体颜色 */
.submenuitem {
    color: #ffffff;
    display: block;
    padding: 6px 0;
    text-transform: uppercase;
    font-size: 12px;
}
/* 菜单栏下拉框字体悬浮 */
.con:hover .xl {
    display: block;
    height: 179px;
    padding: 6px 0;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 1;
}
/* 下拉框2 */
.cons:hover .xl2 {
    display: block;
    height: 188px;
    padding: 6px 0;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 1;
}
.xl2:hover {
    color: #ffffff;
}
.submenu_content .submenuitem:hover {
    text-decoration: none;
    color: #ffffff;
}

.supernav_content {
    display: none;
    height: 0;
    transition: 0.2s;
    opacity: 0;
    transform: translateY(-189);
    background: #000;
}
/* 下拉框字体样式 */
.submenuitem {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    color: #b8b6b4;
    padding: 6px 10px 6px 0;
    transition: height 0.25s;
    overflow: hidden;
    display: block;
}
/* Steam下载安装 */
.actions {
    position: absolute;
    right: 0;
    top: 6px;
    height: 21px;
    line-height: 21px;
    color: #b8b6b4;
    font-size: 11px;
    z-index: 400;
}
.action_menu {
    position: relative;
    line-height: 24px;
    vertical-align: top;
    display: inline-block;
}
.action_menu > * {
    vertical-align: top;
}
.header_installsteam_btn {
    display: inline-block;
    position: relative;
    height: 21px;
    line-height: 24px;
    margin-right: 3px;
}
/* 安装背景 */
.header_installsteam_btn_content {
    background-color: #5c7e10;
}
/* 安装样式设置 */
.header_installsteam_btn_content {
    display: inline-block;
    padding-left: 35px;
    padding-right: 9px;
    background-position: 10px 5px;
    background-image: url("./steam/btn_header_installsteam_download.png");
    background-repeat: no-repeat;
    text-decoration: none;
    color: #e5e4dc;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}
/* 登录 */
.action_link {
    color: #b8b6b4;
    padding: 0 4px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}
.actions > * {
    vertical-align: top;
}
.actions a:hover {
    color: #FFFFFF;
}
.actions span:hover {
    color: #FFFFFF;
    cursor: pointer;
}

/* 语言 */
.pulldown {
    display: inline-block;
    padding-left: 4px;
    line-height: 25px;
    padding-right: 18px;
    background-image: url("./steam/btn_arrow_down_padded.png");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}
.pulldowns {
    display: inline-block;
}
/* 语言下拉框 */
.popup_block_new .popup_body {
    border: 1px solid #171a21;
    position: relative;
    background-color: #171a21;
}
.action_menu > * {
    vertical-align: top;
}
.popup_block_new {
    display: none;
    z-index: 200;
    position: absolute;
    box-shadow: 0 0 12px #000000;
    right: 0;
}
/* 语言下拉框悬浮 */
/* 语言文字 */
.popup_menu_item {
    top: 5%;
    display: block;
    padding: 5px 12px;
    color: #b8b6b4;
    text-transform: none;
    font-family: Motiva Sans, Arial, Helvectica, Verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 社区 */
.headers {
    width: 100%;
    height: 343px;
    background-color: #1b2838;
}

.containers {
    width: 948px;
    margin: 0 auto;
}

.box {
    height: 20px;
    background-color: #1b2838;
}
.headers .title {
    font-size: 26px;
    color: #d6d7d8;
}
.subtitle {
    font-size: 17px;
    color: #9099a1;
    font-family: Arial, Sans-Serif;
    margin-top: 5px;
}

.hidden {
    margin-top: 2px;
    width: 66%;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid transparent;
    float: left;
}

.shortcuts {
    padding: 10px;
}

.login {
    float: left;
    width: 50%;
    font-size: 12px;
    line-height: 17px;
    color: #c6d4df;
}

.login_content {
    padding: 0 10px 0 0;
}

.builtin {
    padding-top: 16px;
}

.green {
    padding: 6px 0;
    text-decoration: none !important;
    color: #D2E885 !important;
    background: #a4d007;
    background: -webkit-linear-gradient(top, #a4d007 5%, #536904 95%);
}

.green > span {
    font-size: 16px;
    border-radius: 2px;
    padding: 5px 15px;
    background: #799905;
    background: -webkit-linear-gradient(top, #799905 5%, #536904 95%);

}

.huo {
    float: left;
    line-height: 32px;
    margin-right: 8px;
    margin-left: 8px;
}

.greens {
    padding: 6px 0;
    text-decoration: none !important;
    color: #D2E885 !important;
    background: #a4d007;
    background: -webkit-linear-gradient(top, #a4d007 5%, #536904 95%);
}

.greens > span {
    font-size: 16px;
    border-radius: 2px;
    padding: 5px 15px;
    background: #799905;
    background: -webkit-linear-gradient(top, #799905 5%, #536904 95%);
}
.green span:hover {
    background: #5c7e10;
}
.greens span:hover {
    background: #5c7e10;
}

.shiyong {
    padding-top: 10px;
}

.shiyong a {
    color: #c6d4df;
    text-decoration: underline;
}

.list {
    float: left;
    width: 50%;
}

.list_header {
    font-size: 11px;
    color: #8f98a0;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.appHubShortcut a {
    color: #bababa;
    font-size: 11px;
}

.appHubShortcut_Icon {
    width: 28px;
    height: 28px;
    float: left;
    margin-right: 5px;
}

.appHubShortcut_Title {
    line-height: 15px;
    font-size: 13px;
    display: block;
}

.new_items_num {
    font-size: 12px;
    line-height: 15px;
    color: #2f89bc;
}

.kong {
    margin-top: 15px;
}

.search_box {
    margin-top: 15px;
    width: 33%;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid transparent;
    float: right;
}

/* 导航栏 */
.tab {
    width: 100%;
    height: 1095px;
    background-color: #1b2838;
}

.list_header_sousuo {
    border: 1px solid #2a3f5a;
    background-color: #2f89bc;
    width: 98%;

}

.list_header_sousuo input .ziti {
    background-color: #2f89bc;
    font-weight: 300;
    width: 98%;
}

.list_header_sousuo input {
    background-color: #2f89bc;

}

.zhongjian {
    width: 100%;
    height: 1px;
    border-top: 1px solid #000000;
    background-color: #333333;
    margin: 35px 0;
}

li {
    list-style-type: none;
}

ul {
    overflow: hidden;
}

.tab_list {
    background-color: #1b2838;
}

.heixian {
    background-color: #0d121a;
    height: 5px;
    margin: 0 auto;
}

.tab_list1 {
    margin-left: 75%;
}

.tab_list1 li {
    font-size: 12px;
    color: #dadada;
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;

}

.tab_list1 li:nth-of-type(1) {
    color: #969696;
}

.tab_list1 .zuixin:hover {
    background-color: #4e697d;
}

.tab_list1 .zuiremeng:hover {
    background: #A7BACC;
}

.tab_list li {
    margin-left: 10px;
    font-size: 12px;
    color: #dadada;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
}

.tab_list1 .zuixin {
    background-color: #23262E;
    box-shadow: inset 0 1px 1px #434343;
    border: #000000 1px solid;
    margin: 0 3px;
}

.tab_list1 .zuiremeng {
    color: #A4D7F5;
    background: -webkit-linear-gradient(top, rgba(47, 137, 188, 1) 5%, rgba(23, 67, 92, 1) 95%);
}

.tab_list li:hover {
    background: linear-gradient(to bottom, #67c1f5 5%, #417a9b 95%);
}

.tab_list .current {
    background-color: #0d121a;
    border-bottom: 0;
}

.item_info {
    padding: 20px 0 0 20px;
}

.item {
    display: none;
}

.tab_con {
    height: 100px;
    border-top: 0;
}

.item .pinlun {
    width: 440px;
    height: 287px;
    background-color: #0d131b;
    float: left;
    border: #1b2838 1px solid;
    margin-top: 10px;
}

.item .pinlun:nth-of-type(1) {
    margin-left: 8px;
}

.item .pinlun:nth-of-type(2) {
    margin-left: 10px;
}

.pinlun_2 {
    width: 30%;
    height: 287px;
    float: left;
    padding: 10px;
    border: #1b2838 1px solid;
    background-color: #0d131b;
}

.item .pinlun_2 {
    margin: 5px 0 0 8px;
}

.pinlun {
    padding: 10px;
    position: relative;
    font-size: 12px;
    color: #636363;
    margin: 0 0 14px;
}

.pinlun:hover {
    border: #2f89bc 1px solid;
}

.thumb {
    margin-top: 10px;
}

.title {
    font-size: 16px;
    color: #d6d7d8;
    font-family: 'Motiva Sans', arial, tahoma;
    padding: 5px 0 0;
}

.hours {
    font-size: 12px;
    color: #d6d7d8;
}

.apphub_CardTextContent {
    margin-top: 10px;
    line-height: 22px;
    font-size: 14px;
    color: #8c8b8a;
    font-family: 'Motiva Sans', arial, tahoma;
}

.date_posted {
    font-size: 11px;
    color: #a0a08b;
}

.kong_1 {
    margin-top: 80px;
}

.apphub_CardContentAuthorBlock.tall {
    height: 32px;
    padding-top: 6px;
    padding-left: 5px;
}

.apphub_CardContentAuthorBlock {
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #272f38;
}

.apphub_CardContentAppName a {
    font-size: 13px;
    font-family: Motiva Sans, Arial, Helvetica, sans-serif;
    color: #636363;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    margin-top: 7px;
}

.apphub_CardContentAuthorBlock:hover {
    background-color: #B8BCBF;
}

.tp {
    background-image: url("https://community.akamai.steamstatic.com/public/shared/images/comment_quoteicon.png");
    background-repeat: no-repeat;
    float: left;
    padding-left: 20px;
    margin: 8px 0 10px 280px;
}

.pinlun_2 {
    position: relative;
    font-size: 12px;
    color: #636363;
    margin: 0 0 14px;
}

.tps {
    background-image: url("https://community.akamai.steamstatic.com/public/shared/images/comment_quoteicon.png");
    background-repeat: no-repeat;
    float: left;
    padding-left: 20px;
    margin: -15px 0 0 251px;
}

.pinlun_2:hover {
    border: #2f89bc 1px solid;
}

.pinlun_2 .tupian img {
    float: left;
    width: 64px;
    height: 64px;
    padding-right: 10px;

}

.tupian {

    background-color: #272f38;
    border: 1px solid transparent;
    padding: 12px 9px;
    margin: 10px 9px 0 10px;
    overflow: hidden;
    color: white;
    font-size: 14px;
}

.apphub_CardRating.notRated {
    background-repeat: no-repeat;
    background-image: url("https://community.akamai.steamstatic.com/public/shared/images/apphubs/not-yet.png");
}

.kong_2 {
    margin-top: 35px;
}

.quanbu .pinlun:nth-of-type(1) {
    margin-left: 8px;
}

.quanbu .pinlun:nth-of-type(2) {
    margin-left: 10px;
}

.pinlun_3 {
    width: 924px;
    height: 520px;
    background-color: #0d131b;
    float: left;
    border: #1b2838 1px solid;
    margin-top: 10px;
    margin-left: 8px;
}
.pinlun_4 {
    width: 609px;
    height: 609px;
    background-color: #0d131b;
    float: left;
    border: #1b2838 1px solid;
    margin-top: 10px;
    margin-left: 8px;
}
.pinlun_5 {
    width: 293px;
    height: 299px;
    background-color: #0d131b;
    float: left;
    border: #1b2838 1px solid;
    margin-top: 10px;
    margin-left: 8px;
}
.pinlun_4:hover {
    border: #2f89bc 1px solid;
}
.pinlun_5:hover {
    border: #2f89bc 1px solid;
}
h1 {
    color: #fff;
}
/* 页脚 */
#footer_spacer {
    position: relative;
    height: 210px;
    top: auto;
    bottom: auto;
    padding: 0;
    background-color: #1D2024;
}
#footer {
    font-family: "arial, helvetica, sans-serif";
    background: #171a21;
    top: 14%;
    left: 0;
    width: 100%;
    height: 183px;

    -webkit-text-size-adjust: none;
}
.footer_content {
    top: 55px;
    width: 940px;
    margin: 0 auto;
    padding-top: 30px;
}
#footer_logo img {
    height: 25px;
    width: auto;
}
.rule {
    height: 8px;
    border-top: 1px solid #363c44;
}
#footer_logo {
    float: left;
    padding-top: 2px;
}
#footer_logo_steam {
    float: right;
    padding: 2px;
}
#footer #footer_text {
    float: left;
    margin-left: 12px;
    font-size: 12px;
    line-height: 16px;
    color: #8F98A0;
}
#footer #footer_text a {
    color: #C6D4DF;
}
#footer #footer_text a:hover {
    color: #FFFFFF;
}
.valve_links {
    margin-top: 8px;
    float: left;
    font-family: "microsoft sans serif";
    font-weight: normal;
    font-size: 13px;
    color: #61686d;
}
.valve_links a {
    color: #C6D4DF;
}
.valve_links a:hover {
    color: #FFFFFF;
}
