/* 头部导航栏样式 */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.6;
    min-width: 100%;
    height: auto;

}
@media screen and (max-width:960px){
    #slider{display: none;}
    .img01{width: 99vw;}
    .ContentOne .ContentTwo .hard > div:nth-child(n+13){display: none;}
}
@media screen and (max-width:768px){.gameRight1{display: none
    !important;}
    .ContentOne .ContentTwo .update .content{flex-direction: column;align-items: center;}
    .div1{display: none;}
    .ContentOne .ContentTwo .update .left{display: flex;flex-direction: column;}
    .ContentOne .ContentTwo .update .right{justify-content: space-between;}
    
}
@media screen and (max-width:500px) {
    .ContentOne .ContentTwo .hard span {
        display: none;
    }
    .ContentOne .ContentTwo .hard .hardContent .hardContentGame > div {
        width: 100%!important;
    }
    .ContentOne .ContentTwo .hard .hardContent .hardContentGame > div .label {
        font-size: 2vw!important;
    }
    .ContentOne .ContentTwo .live .man > div .name {
        font-size: 2vw;
    }
    .hardContentGame {
        width: 100vw !important;
    }
    .ContentOne .ContentTwo .update .right {
        justify-content: space-around;
    }
    .action_menu {
        display: none!important;
    }
    .ContentOne{height: 4370px!important;}
    #footer{height: 210px!important;}
}


.header {

    background-position: center top;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
}

.content {
    width: 100%;
    height: 68px;
    z-index: 402;
    background-color: #1b2838;
}

.logo {
    padding-top: 10px;
    float: left;
    width: 176px;
    height: 44px;
}
.logo img {
    width: 100%;
    height: 56px;

}
/* 导航栏菜单栏 */
.supernav_container {
    position: absolute;
    width: 168px;
    left: 200px;
    top: -13px;
}

div.header .menuitem {
    padding: 45px 7px 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    text-transform: uppercase;
}

/* 菜单栏字体悬停样式 */
div.header .menuitem:hover {
    text-decoration: none;
    color: #ffffff;
}

/* 菜单下拉框 */
.xl {
    display: none;
    position: absolute;
    width: 88px;
    top: 90%;
    left: 0;
    background: #000;
    padding: 5px 15px 10px;
    box-shadow: 3px 3px 5px -3px #000;
    text-align: left;
    z-index: 500;
}

/* 菜单栏下拉框2 */
.xl2 {
    display: none;
    position: absolute;
    width: 88px;
    top: 90%;
    left: 30%;
    background: #000;
    padding: 5px 15px 10px;
    box-shadow: 3px 3px 5px -3px #000;
    text-align: left;
    z-index: 500;
}

/* 下拉框距离左边间距 */
.submenu_content {
    margin-left: 15px;
}

/* 菜单下拉框字体颜色 */
.submenuitem {
    color: #ffffff;
    display: block;
    padding: 6px 0;
    text-transform: uppercase;
    font-size: 12px;
}

/* 菜单栏下拉框字体悬浮 */
.con:hover .xl {
    display: block;
    height: 179px;
    padding: 6px 0;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 1;
}

/* 下拉框2 */
.cons:hover .xl2 {
    display: block;
    height: 188px;
    padding: 6px 0;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 1;
}

.xl2:hover {
    color: #ffffff;
}

/* Steam下载安装 */
.actions {
    float: right;
    color: #b8b6b4;
    font-size: 11px;
    z-index: 400;
}

.action_menu {
    position: relative;
    line-height: 24px;
    display: inline-flex;
    top: 25px;
}

.header_installsteam_btn {
    display: inline-block;
    position: relative;
    height: 21px;
    line-height: 24px;
    margin-right: 3px;
}

/* 安装背景 */
.header_installsteam_btn_content {
    background-color: #5c7e10;
}

/* 安装样式设置 */
.header_installsteam_btn_content {
    display: inline-block;
    padding: 0px 5px 0px 5px;

    background-position: 10px 5px;
    background-image: url("./steam/btn_header_installsteam_download.png");
    background-repeat: no-repeat;
    text-decoration: none;
    color: #e5e4dc;
    font-weight: normal;
}

/* 登录 */
.action_link {
    color: #b8b6b4;
    padding: 0 4px;
    font-weight: normal;
}



.actions a:hover {
    color: #FFFFFF;
}

.actions span:hover {
    color: #FFFFFF;
    cursor: pointer;
}

/* 语言 */
.pulldown {
    display: inline-block;
    padding-left: 4px;
    line-height: 25px;
    padding-right: 18px;
    background-image: url("./steam/btn_arrow_down_padded.png");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.pulldown {
    display: inline-block;
}

/* 语言下拉框 */
.popup_block_new .popup_body {
    border: 1px solid #171a21;
    position: relative;
    background-color: #171a21;
}

.action_menu > * {
    vertical-align: top;
}

.popup_block_new {
    display: none;
    z-index: 200;
    position: absolute;
    box-shadow: 0 0 12px #000000;
    right: 0;
}

/* 语言下拉框悬浮 */
/* 语言文字 */
.popup_menu_item {
    top: 5%;
    display: block;
    padding: 5px 12px;
    color: #b8b6b4;
    text-transform: none;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 礼物卡 */
.ContentOne {
    width: 100%;
    height: 3920px;
    background-color: #1b2838;
}

/* 搜索栏 */
.ContentOne .storeNav {
    position: absolute;
    top: 68px;
    width: 100%;
    background-image: linear-gradient(to right, #3B6490, #2B4B84, #0F216E);
    z-index: 5;
}

.ContentOne .storeNav ul {
    text-align: center;
    vertical-align: center;
}

.ContentOne .storeNav ul li {
    float: left;
    list-style: none;
    height: 35px;
    width: 86px;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 0 2px 3px rgb(0 0 0 / 30%);
    color: #d9d9d9;
    line-height: 35px;
}

.ContentOne .storeNav .store {
    display: inline;
    width: 76px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
}

.ContentOne .storeNav .new {
    display: inline;
    width: 103px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 77px;
}

.ContentOne .storeNav .kind {
    display: inline;
    width: 77px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 180px;
}

.ContentOne .storeNav .store:hover~.secondOne {
    display: flex;
}

.ContentOne .storeNav .secondOne:hover {
    display: flex;
}

.ContentOne .storeNav .store:hover~ul > .yourStore {
    cursor: pointer;
    background-image: linear-gradient(to right, #3180BF, rgba(55, 106, 156, 0.5));
}

.ContentOne .storeNav .new:hover~.secondTwo {
    display: flex;
}

.ContentOne .storeNav .secondTwo:hover {
    display: flex;
}

.ContentOne .storeNav .new:hover~ul > .news {
    cursor: pointer;
    background-image: linear-gradient(to right, #3180BF, rgba(55, 106, 156, 0.5));
}

.ContentOne .storeNav .kind:hover~.secondThree {
    display: flex;
}

.ContentOne .storeNav .secondThree:hover {
    display: flex;
}

.ContentOne .storeNav ul li:nth-child(2) {
    width: 86px;
    padding: 0 6px 0 11px;
}

.ContentOne .storeNav ul li:nth-child(3) {
    width: 56px;
    padding: 0 6px 0 15px;
}

.ContentOne .storeNav ul li img {
    float: left;
    width: 26px;
    height: 26px;
    margin-right: -10px;
}

.ContentOne .storeNav ul li:not(.emptyNav, .search):hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #3180BF, rgba(55, 106, 156, 0.5));
}



.ContentOne .storeNav ul .search {
    width: 180px;
    height: 35px;
    margin-left: 20px;
    padding: 0;
}

.ContentOne .storeNav ul li .searchFor {
    background-color: #316282;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 0 rgb(255 255 255 / 20%);
    height: 25px;
    box-sizing: border-box;
    margin-right: 0;
    margin-top: 5px;
    position: relative;
}

.ContentOne .storeNav ul li .searchFor:hover {
    border: 1px solid blue;
}

.ContentOne .storeNav ul li input {
    height: 27px;
    width: calc(100% - 25px - 8px);
    color: #081116;
    font-size: 14px;
    text-shadow: 1px 1px 0 rgb(255 255 255 / 10%);
    font-weight: 300;
    outline: none;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 0;
    font-style: italic;
    margin-left: 8px;
}

.ContentOne .storeNav ul li .searchFor img {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0;
    right: 11px;
}

.ContentOne .storeNav .secondOne {
    width: 177px;
    height: 126px;
    background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: column;
    padding: 8px 5px;
    box-shadow: 0 0 12px #000000;
    display: none;
}

.ContentOne .storeNav .secondTwo {
    width: 177px;
    height: 156px;
    background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
    position: absolute;
    top: 35px;
    left: 76px;
    display: flex;
    flex-direction: column;
    padding: 8px 5px;
    box-shadow: 0 0 12px #000000;
    display: none;
}

.ContentOne .storeNav .secondThree {
    width: 940px;
    height: 560px;
    background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: row;
    padding: 8px 5px;
    box-shadow: 0 0 12px #000000;
    display: none;
    color: #d9d9d9;
}

.ContentOne .storeNav .secondOne > a {
    color: #D8D8D8;
    font-size: 12px;
    text-align: left;
    text-decoration: none;
    margin: 6px 0 6px 15px;

}

.ContentOne .storeNav .secondTwo > a {
    color: #D8D8D8;
    font-size: 12px;
    text-align: left;
    text-decoration: none;
    margin: 6px 0 6px 15px;
}

.ContentOne .storeNav .secondOne > a:hover {
    text-decoration: 2px underline white;
}

.ContentOne .storeNav .secondTwo > a:hover {
    text-decoration: 2px underline white;
}

/* 轮播图 */
.zitis {
    font-size: 14px;
    /* text-transform: uppercase; */
    color: #fff;
    padding-top: 3vw;
}
.zitis img {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}
/* 主体部分 */
.slider-list img {
    width: 959px;
    height: 353px;
}

#slider {
    position: relative;
    width: 959px;
    height: 366px;
    margin: 0 auto;
    overflow: hidden;
}

.slider-list {
    display: flex;
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    /* transform: translateX(-964px); */
    /* transition: all 1s; */
}

.slider-list li {
    width: 959px;
    height: 353px;
}

/* 小点部分 */
.dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ccc;
            margin: 0 5px;
            cursor: pointer;
        }
        .dot.active {
            background-color: #333;
        }
.dot-list {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 10px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, .3);
} 

/* .dot-list .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

.dot-list .dot.cur {
    background-color: red;
} */

/*箭头部分  */
.arraw {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.795);
    display: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.arraw span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
    width: 10px;
    height: 10px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

.prev span {
    transform: translate(-50%, -50%) rotate(45deg);
}

.next span {
    transform: translate(-50%, -50%) rotate(-135deg);
}

#slider:hover .arraw {
    display: block;
}

/* 轮播图2 */
.div1 {
    width: 939px;
    height: 353px;

    margin: 0 auto;
    position: relative;
}

.div01 {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    opacity: 0.5;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    z-index: 10;
}

#div2 {
    position: absolute;
    right: 70px;
    bottom: 10px;
}

#div3 {
    position: absolute;
    right: 40px;
    bottom: 10px;
}

#div4 {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#div2:hover~#img1 {
    z-index: 2;
}

#div2:hover {
    opacity: 1;
}

#div3:hover~#img2 {
    z-index: 2;
}

#div3:hover {
    opacity: 1;
}

#div4:hover~#img3 {
    z-index: 2;
}

#div4:hover {
    opacity: 1;
}

.img01 {
    position: absolute;
}

/* <!--未登录时 --> */
.home_page_sign_in_ctn .small {
    height: 130px;
}

.home_page_sign_in_ctn {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    color: #8f98a0;
    font-weight: normal;
    height: 183px;
    margin: 50px auto;
}

.home_page_sign_in_ctn.small p {
    margin-top: 20px;
}

.signin_buttons_ctn {
    text-align: center;
    font-size: 15px;
    color: #8f98a0;
    font-weight: 300;
    font-weight: normal;
    margin-top: 40px;
}

.btn_green_white_innerfade {
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #D2E885 !important;
    background: #a4d007;
    background: -webkit-linear-gradient(top, #a4d007 5%, #536904 95%);
    background: linear-gradient(to bottom, #a4d007 5%, #536904 95%);
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #66c0f4;
}

/* 浏览steam */
.browseSt {
    width: 100%;
    height: 95px;
    margin: 0 auto;
}

.ContentOne .browseSt .tittle {
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    padding-top: 2px;
    margin-bottom: 10px;
}

.ContentOne .browseSt .content {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.ContentOne .browseSt .content > div {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-align: center;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border-radius: 3px;
    box-shadow: 0 0 4px #000;
    cursor: pointer;
}

.ContentOne .browseSt .content > div:hover {
    background: linear-gradient(90deg, #06BFFF 0%, #06BFFF 50%, #2D73FF 100%);
}

/* 浏览Steam结束 */
/* 热门VR游戏开始 */
.ContentOne .Vr {
    width: 100%;
    height: 210px;
    margin: 0 auto;
}

.ContentOne .Vr .tittle {
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    padding-top: 2px;
    margin-bottom: 10px;
}

.ContentOne .Vr .content {
    width: 100%;
    height: 175px;
    position: relative;
}

.ContentOne .Vr .content .vrGame {
    width:  100%;
    height: 134px;
    display: flex;
    justify-content: space-between;
}

.ContentOne .Vr .content .vrGame > div {
    width: 100%;
    height: 134px;
    background: linear-gradient(-45deg, rgba(64, 121, 153, 1) 5%, rgba(42, 62, 89, 1) 95%);
    position: relative;
}

.ContentOne .Vr .content .vrGame > div > img {
    width: 100%;
    height: 103px;
}

.ContentOne .Vr .content .vrGame > div > div {
    position: absolute;
    right: 7px;
    bottom: 8px;
    color: #acdbf5;
    padding: 0 9px;
    background-color: rgba(20, 31, 44, 0.4);
    border-radius: 1px;
    font-size: 11px;
}

.ContentOne .Vr .content .VrPoint {
    width: 100%;
    height: 41px;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.ContentOne .Vr .content .VrPoint > div {
    display: inline-block;
    margin: 12px 0;
    width: 15px;
    height: 9px;
    border-radius: 2px;
    background-color: hsla(202, 60%, 100%, 0.2);
    cursor: pointer;
    font-size: 12px;
}

.ContentOne .Vr .content .VrPoint > div:hover {
    background-color: hsla(202, 60%, 100%, 0.3);
}

.ContentOne .Vr .content .VrPoint > div:first-child {
    background-color: hsla(202, 60%, 100%, 0.6);
}
/* 热门VR游戏结束 */
/* 内容第二段 */
.ContentOne .ContentTwo {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(to bottom, rgba(42, 71, 94, 1.0) 5%, rgba(42, 71, 94, 0.0) 70%);
}

.ContentOne .ContentTwo .hard {
    width: 100%;
    height: 815px;
    background: transparent;
    margin: 0 auto;
}

.ContentOne .ContentTwo .hard .hardHeader {
    height: 29px;
    display: flex;
    justify-content: space-evenly;
}

.ContentOne .ContentTwo .hard .hardHeader > div {
    padding: 3px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 13px;
    color: #4f94bc;
    cursor: pointer;
    vertical-align: top;
}

.ContentOne .ContentTwo .hard .hardHeader > div:hover {
    color: #FFFFFF;
}

.ContentOne .ContentTwo .hard .hardHeader > div:first-child {
    padding: 3px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 14px;
    color: #ffffff;
    background: rgba(42, 71, 94, 1.0);
    text-shadow: -1px -1px rgb(0 0 0 / 25%);
    cursor: default;
    margin-top: 0;
    box-shadow: none;
}

.ContentOne .ContentTwo .hard .hardContent {
    width: 100%;
    height: 771px;
}

.ContentOne .ContentTwo .hard .hardContent .contentHeader {
    background: rgba(0, 0, 0, 0.2);
    padding: 4px;
    text-align: right;
    color: #c6d4df;
    font-size: 12px;
}

.ContentOne .ContentTwo .hard .hardContent .contentHeader > a {
    padding: 3px 15px;
    font-size: 12px;
    line-height: 24px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
}

.ContentOne .ContentTwo .hard .hardContent .contentHeader > a:hover {
    border: 1px solid rgba(255, 255, 255, 1);
}

.ContentOne .ContentTwo .hard .hardContent .hardContentGame > div {
    width: 618px;
    height: 69px;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 0 5px;
    position: relative;
}

.ContentOne .ContentTwo .hard .hardContent .hardContentGame > div .gameName {
    position: absolute;
    left: 200px;
    top: 3px;
    color: #c7d5e0;
    line-height: 18px;
    font-size: 14px;
}

.ContentOne .ContentTwo .hard .hardContent .hardContentGame > div .gameIcon {
    position: absolute;
    left: 200px;
    top: 23px;
    opacity: 0.3;
}

.ContentOne .ContentTwo .hard .hardContent .hardContentGame > div .label {
    position: absolute;
    left: 200px;
    top: 43px;
    color: #384959;
    font-size: 12px;
}

.ContentOne .ContentTwo .hard .hardContent .hardContentGame > div .price {
    position: absolute;
    right: 15px;
    top: 40%;
    color: #acdbf5;
    font-size: 13px;
}

.ContentOne .ContentTwo .hard .hardContent .hardContentGame > div:first-child {
    width: 632px;
    height: 69px;
    background: linear-gradient(to left, #95bbd4 5%, #859bac 95%);
    margin: 0 0 5px;
    position: relative;
}

.ContentOne .ContentTwo .hard .hardContent .hardContentGame > div:first-child .gameName {
    color: #10161b;
}

.ContentOne .ContentTwo .hard .hardContent .hardContentGame > div:first-child .gameIcon {
    color: #384959;
}

.ContentOne .ContentTwo .hard .hardContent .hardContentGame > div:first-child .price {
    color: #263645;
    right: 29px;
}

.ContentOne .ContentTwo .hard .hardContent .hardContentGame > div:hover {
    width: 632px;
    height: 69px;
    background: linear-gradient(to left, #95bbd4 5%, #859bac 95%);
    margin: 0 0 5px;
    position: relative;
}

.ContentOne .ContentTwo .hard .hardContent .hardContentGame > div:hover .gameName {
    color: #10161b;
}

.ContentOne .ContentTwo .hard .hardContent .hardContentGame > div:hover .gameIcon {
    color: #384959;
}

.ContentOne .ContentTwo .hard .hardContent .hardContentGame > div:hover .price {
    color: #263645;
    right: 29px;
}

.ContentOne .ContentTwo .hard > div:nth-child(n+13) {
    width: 30vw;
    height: 735px;
    background: linear-gradient(to right, #95bbd4 5%, #859bac 95%);
    position: absolute;
    top:3rem;
    margin: 13px 0 0 62vw;
    display: flex;flex-direction: column;
}

.ContentOne .ContentTwo .hard > div:nth-child(n+14) {
    display: none;
}

.ContentOne .ContentTwo .hard > div:nth-child(n+13) .gameName {
    font-size: 2vw;
    letter-spacing: 0;
    color: #263645;
    height: 30px;
    padding-right: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 2px 0 2px 15px;
}

.ContentOne .ContentTwo .hard > div:nth-child(n+13) .num {
    height: 32px;
    padding: 5px 7px;
    margin-left: 15px;
    margin-bottom: 10px;
    background-color: rgba(38, 54, 69, 0.6);
    width: 25vw;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

.ContentOne .ContentTwo .hard > div:nth-child(n+13) .num span {
    color: #c6d4df;
    font-size: 1vw;
}

.ContentOne .ContentTwo .hard > div:nth-child(n+13) .num div {
    color: #66C0F4;
    font-size: 12px;
}

.ContentOne .ContentTwo .hard > div:nth-child(n+13) .label {
    width: 30vw;
    height: 22px;
    display: flex;
    margin: 0 0 6px 15px;

}

.ContentOne .ContentTwo .hard > div:nth-child(n+13) .label > div {
    background-color: rgba(38, 54, 69, 0.6);
    padding: 0 7px;
    margin-right: 2px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 3px;
    max-width: 200px;
    font-size: 11px;
    color: #ffffff;
}

.ContentOne .ContentTwo .hard > div:nth-child(n+13) img {
    width: 26vw;
    height: 150px;
    margin:0 auto
}
.hardContentGame{display: flex;
    flex-direction: column;
width: 75vw;
margin:0 auto;}
.ContentOne .ContentTwo .hard > .right1 {
    width: 619px;
    height: 69px;
    position: absolute;
    top: 70px;
    background-color: transparent;
    z-index: 10;
}

.ContentOne .ContentTwo .hard > .right1:hover~.hardContent .hardContentGame > div:nth-child(1) {
    width: 632px;
    height: 69px;
    background: linear-gradient(to left, #95bbd4 5%, #859bac 95%);
    margin: 0 0 5px;
    position: relative;
}

.ContentOne .ContentTwo .hard > .right1:hover~.hardContent .hardContentGame > div:nth-child(1) .gameName {
    color: #10161b;
}

.ContentOne .ContentTwo .hard > .right1:hover~.hardContent .hardContentGame > div:nth-child(1) .gameIcon {
    color: #384959;
}

.ContentOne .ContentTwo .hard > .right1:hover~.hardContent .hardContentGame > div:nth-child(1) .price {
    color: #263645;
    right: 29px;
}

.ContentOne .ContentTwo .hard > .right2 {
    width: 619px;
    height: 69px;
    position: absolute;
    top: 135px;
    background-color: transparent;
    z-index: 10;
}

.ContentOne .ContentTwo .hard > .right2:hover~div:nth-child(14) {
    display: flex;
}

.ContentOne .ContentTwo .hard > .right2:hover~.hardContent .hardContentGame > div:nth-child(2) {
    width: 632px;
    height: 69px;
    background: linear-gradient(to left, #95bbd4 5%, #859bac 95%);
    margin: 0 0 5px;
    position: relative;
}

.ContentOne .ContentTwo .hard > .right2:hover~.hardContent .hardContentGame > div:nth-child(2) .gameName {
    color: #10161b;
}

.ContentOne .ContentTwo .hard > .right2:hover~.hardContent .hardContentGame > div:nth-child(2) .gameIcon {
    color: #384959;
}

.ContentOne .ContentTwo .hard > .right2:hover~.hardContent .hardContentGame > div:nth-child(2) .price {
    color: #263645;
    right: 29px;
}

.ContentOne .ContentTwo .hard > .right3 {
    width: 619px;
    height: 69px;
    position: absolute;
    top: 220px;
    background-color: transparent;
    z-index: 10;
}

.ContentOne .ContentTwo .hard > .right3:hover~div:nth-child(15) {
    display: flex;
}

.ContentOne .ContentTwo .hard > .right3:hover~.hardContent .hardContentGame > div:nth-child(3) {
    width: 632px;
    height: 69px;
    background: linear-gradient(to left, #95bbd4 5%, #859bac 95%);
    margin: 0 0 5px;
    position: relative;
}

.ContentOne .ContentTwo .hard > .right3:hover~.hardContent .hardContentGame > div:nth-child(3) .gameName {
    color: #10161b;
}

.ContentOne .ContentTwo .hard > .right3:hover~.hardContent .hardContentGame > div:nth-child(3) .gameIcon {
    color: #384959;
}

.ContentOne .ContentTwo .hard > .right3:hover~.hardContent .hardContentGame > div:nth-child(3) .price {
    color: #263645;
    right: 29px;
}

.ContentOne .ContentTwo .hard > .right4 {
    width: 619px;
    height: 69px;
    position: absolute;
    top: 295px;
    background-color: transparent;
    z-index: 10;
}

.ContentOne .ContentTwo .hard > .right4:hover~div:nth-child(16) {
    display: flex;
}

.ContentOne .ContentTwo .hard > .right4:hover~.hardContent .hardContentGame > div:nth-child(4) {
    width: 632px;
    height: 69px;
    background: linear-gradient(to left, #95bbd4 5%, #859bac 95%);
    margin: 0 0 5px;
    position: relative;
}

.ContentOne .ContentTwo .hard > .right4:hover~.hardContent .hardContentGame > div:nth-child(4) .gameName {
    color: #10161b;
}

.ContentOne .ContentTwo .hard > .right4:hover~.hardContent .hardContentGame > div:nth-child(4) .gameIcon {
    color: #384959;
}

.ContentOne .ContentTwo .hard > .right4:hover~.hardContent .hardContentGame > div:nth-child(4) .price {
    color: #263645;
    right: 29px;
}

.ContentOne .ContentTwo .hard > .right5 {
    width: 619px;
    height: 69px;
    position: absolute;
    top: 370px;
    background-color: transparent;
    z-index: 10;
}

.ContentOne .ContentTwo .hard > .right5:hover~div:nth-child(17) {
    display: flex;
}

.ContentOne .ContentTwo .hard > .right5:hover~.hardContent .hardContentGame > div:nth-child(5) {
    width: 632px;
    height: 69px;
    background: linear-gradient(to left, #95bbd4 5%, #859bac 95%);
    margin: 0 0 5px;
    position: relative;
}

.ContentOne .ContentTwo .hard > .right5:hover~.hardContent .hardContentGame > div:nth-child(5) .gameName {
    color: #10161b;
}

.ContentOne .ContentTwo .hard > .right5:hover~.hardContent .hardContentGame > div:nth-child(5) .gameIcon {
    color: #384959;
}

.ContentOne .ContentTwo .hard > .right5:hover~.hardContent .hardContentGame > div:nth-child(5) .price {
    color: #263645;
    right: 29px;
}

.ContentOne .ContentTwo .hard > .right6 {
    width: 619px;
    height: 69px;
    position: absolute;
    top: 445px;
    background-color: transparent;
    z-index: 10;
}

.ContentOne .ContentTwo .hard > .right6:hover~div:nth-child(18) {
    display: flex;
}

.ContentOne .ContentTwo .hard > .right6:hover~.hardContent .hardContentGame > div:nth-child(6) {
    width: 632px;
    height: 69px;
    background: linear-gradient(to left, #95bbd4 5%, #859bac 95%);
    margin: 0 0 5px;
    position: relative;
}

.ContentOne .ContentTwo .hard > .right6:hover~.hardContent .hardContentGame > div:nth-child(6) .gameName {
    color: #10161b;
}

.ContentOne .ContentTwo .hard > .right6:hover~.hardContent .hardContentGame > div:nth-child(6) .gameIcon {
    color: #384959;
}

.ContentOne .ContentTwo .hard > .right6:hover~.hardContent .hardContentGame > div:nth-child(6) .price {
    color: #263645;
    right: 29px;
}

.ContentOne .ContentTwo .hard > .right7 {
    width: 619px;
    height: 69px;
    position: absolute;
    top: 520px;
    background-color: transparent;
    z-index: 10;
}

.ContentOne .ContentTwo .hard > .right7:hover~div:nth-child(19) {
    display: flex;
}

.ContentOne .ContentTwo .hard > .right7:hover~.hardContent .hardContentGame > div:nth-child(7) {
    width: 632px;
    height: 69px;
    background: linear-gradient(to left, #95bbd4 5%, #859bac 95%);
    margin: 0 0 5px;
    position: relative;
}

.ContentOne .ContentTwo .hard > .right7:hover~.hardContent .hardContentGame > div:nth-child(7) .gameName {
    color: #10161b;
}

.ContentOne .ContentTwo .hard > .right7:hover~.hardContent .hardContentGame > div:nth-child(7) .gameIcon {
    color: #384959;
}

.ContentOne .ContentTwo .hard > .right7:hover~.hardContent .hardContentGame > div:nth-child(7) .price {
    color: #263645;
    right: 29px;
}

.ContentOne .ContentTwo .hard > .right8 {
    width: 619px;
    height: 69px;
    position: absolute;
    top: 595px;
    background-color: transparent;
    z-index: 10;
}

.ContentOne .ContentTwo .hard > .right8:hover~div:nth-child(20) {
    display: flex;
}

.ContentOne .ContentTwo .hard > .right8:hover~.hardContent .hardContentGame > div:nth-child(8) {
    width: 632px;
    height: 69px;
    background: linear-gradient(to left, #95bbd4 5%, #859bac 95%);
    margin: 0 0 5px;
    position: relative;
}

.ContentOne .ContentTwo .hard > .right8:hover~.hardContent .hardContentGame > div:nth-child(8) .gameName {
    color: #10161b;
}

.ContentOne .ContentTwo .hard > .right8:hover~.hardContent .hardContentGame > div:nth-child(8) .gameIcon {
    color: #384959;
}

.ContentOne .ContentTwo .hard > .right8:hover~.hardContent .hardContentGame > div:nth-child(8) .price {
    color: #263645;
    right: 29px;
}

.ContentOne .ContentTwo .hard > .right9 {
    width: 619px;
    height: 69px;
    position: absolute;
    top: 670px;
    background-color: transparent;
    z-index: 10;
}

.ContentOne .ContentTwo .hard > .right9:hover~div:nth-child(21) {
    display: flex;
}

.ContentOne .ContentTwo .hard > .right9:hover~.hardContent .hardContentGame > div:nth-child(9) {
    width: 632px;
    height: 69px;
    background: linear-gradient(to left, #95bbd4 5%, #859bac 95%);
    margin: 0 0 5px;
    position: relative;
}

.ContentOne .ContentTwo .hard > .right9:hover~.hardContent .hardContentGame > div:nth-child(9) .gameName {
    color: #10161b;
}

.ContentOne .ContentTwo .hard > .right9:hover~.hardContent .hardContentGame > div:nth-child(9) .gameIcon {
    color: #384959;
}

.ContentOne .ContentTwo .hard > .right9:hover~.hardContent .hardContentGame > div:nth-child(9) .price {
    color: #263645;
    right: 29px;
}

.ContentOne .ContentTwo .hard > .right10 {
    width: 619px;
    height: 69px;
    position: absolute;
    top: 37% ;
    background-color: transparent;
    z-index: 10;
}

.ContentOne .ContentTwo .hard > .right10:hover~div:nth-child(22) {
    display: flex;
}

.ContentOne .ContentTwo .hard > .right10:hover~.hardContent .hardContentGame > div:nth-child(10) {
    width: 632px;
    height: 69px;
    background: linear-gradient(to left, #95bbd4 5%, #859bac 95%);
    margin: 0 0 5px;
    position: relative;
}

.ContentOne .ContentTwo .hard > .right10:hover~.hardContent .hardContentGame > div:nth-child(10) .gameName {
    color: #10161b;
}

.ContentOne .ContentTwo .hard > .right10:hover~.hardContent .hardContentGame > div:nth-child(10) .gameIcon {
    color: #384959;
}

.ContentOne .ContentTwo .hard > .right10:hover~.hardContent .hardContentGame > div:nth-child(10) .price {
    color: #263645;
    right: 29px;
}

/* 内容第二段 结束*/
/* 直播开始 */
.ContentOne .ContentTwo .live {
    width: 90%;
    margin: 0 auto;
}

.ContentOne .ContentTwo .live .tittle {
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    padding-top: 2px;
    margin-bottom: 10px;
    color: #fff;
}

.ContentOne .ContentTwo .live .man {
    width: 93vw;
    height: 428px;
    margin: 0 5px 8px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.ContentOne .ContentTwo .live .man > div {
    height: 207px;
    width: 30vw;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
}

.ContentOne .ContentTwo .live .man > div img:not(.btn, .redcircle, .peopleHand) {
    width: 100%;
    height: 142px;
}

.ContentOne .ContentTwo .live .man > div .btn {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 40px;
}

.ContentOne .ContentTwo .live .man > div .redcircle {
    width: 14px;
    height: 14px;
    margin-left: 3px;
    margin-top: 3px;
}

.ContentOne .ContentTwo .live .man > div .peopleHand {
    width: 17px;
    height: 17px;
    margin-left: 3px;
    margin-top: 3px;

}

.ContentOne .ContentTwo .live .man > div .livesign {
    width: 52px;
    height: 19px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
    font-size: 12px;
    box-shadow: 0 0 7px #a94847;
    position: absolute;
    left: 3px;
    top: 3px;
}

.ContentOne .ContentTwo .live .man > div:hover .livesign {
    color: #66C0F4;
}

.ContentOne .ContentTwo .live .man > div .name {
    color: #c7d5e0;
    font-size: 13px;
    position: absolute;
    left: 7px;
    bottom: 10px;
}

.ContentOne .ContentTwo .live .man > div .people {
    padding-left: 28px;
    color: #c7d5e0;
    font-size: 13px;
    position: absolute;
    right: 7px;
    bottom: 10px;
    vertical-align: center;

    background-position-x: left;
    background-position-y: 2px;
}

/* 直播结束 */
/* 低于四十块开始 */
.ContentOne .ContentTwo .fifteen {
    width: 100%;
    height: 210px;
    margin: 0 auto;
}

.ContentOne .ContentTwo .fifteen .tittle {
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    padding-top: 2px;
    margin-bottom: 10px;
}

.ContentOne .ContentTwo .fifteen .content .Game {
    width: 100%;
    height: 134px;
    display: flex;
    justify-content: space-between;
}

.ContentOne .ContentTwo .fifteen .content .Game > div {
    width: 24vw;
    height: 134px;
    background: linear-gradient(-45deg, rgba(64, 121, 153, 1) 5%, rgba(42, 62, 89, 1) 95%);
    position: relative;
}

.ContentOne .ContentTwo .fifteen .content .Game > div > img {
    width: 24vw;
    height: 103px;
}

.ContentOne .ContentTwo .fifteen .content .Game > div > div {
    position: absolute;
    right: 7px;
    bottom: 8px;
    color: #acdbf5;
    padding: 0 9px;
    background-color: rgba(20, 31, 44, 0.4);
    border-radius: 1px;
    font-size: 11px;
}

.ContentOne .ContentTwo .fifteen .content .Point {
    width: 940px;
    height: 41px;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.ContentOne .ContentTwo .fifteen .content .Point > div {
    display: inline-block;
    margin: 45px auto;
    width: 15px;
    height: 9px;
    border-radius: 2px;
    background-color: hsla(202, 60%, 100%, 0.2);
    cursor: pointer;
    font-size: 12px;
}

.ContentOne .ContentTwo .fifteen .content .Point > div:hover {
    background-color: hsla(202, 60%, 100%, 0.3);
}

.ContentOne .ContentTwo .fifteen .content .Point > div:first-child {
    background-color: hsla(202, 60%, 100%, 0.6);
}


/* 更新与优惠开始 */
.ContentOne .ContentTwo .update {
    width: 100%;
    height: 460px;
    margin:0 auto;
}

.ContentOne .ContentTwo .update .tittle {
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    padding-top: 2px;
    margin-left: 2vw   ;

}

.ContentOne .ContentTwo .update .content {
    width: 100%;
    height: 422px;
    display: flex;}

.ContentOne .ContentTwo .update .left {
    width: 60%;
    height: 422px;
    background: linear-gradient(135deg, rgba(37, 49, 63, 1) 5%, rgba(54, 97, 125, 1) 95%);
    cursor: pointer;
    margin-left:5vw; ;
}

.ContentOne .ContentTwo .update .left img {
    width: 100%;
    height: 398px;
}

.ContentOne .ContentTwo .update .left > div {
    text-align: right;
    color: #ACDBF5;
    font-size: 12px;
    margin-right: 3px;
}

.ContentOne .ContentTwo .update .right {
    width: 80%;
    height: 422px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.ContentOne .ContentTwo .update .right > div {
    width: 173px;
    height: 206px;
    margin: 0 0 10px 10px;
    background: linear-gradient(135deg, rgba(37, 49, 63, 1) 5%, rgba(54, 97, 125, 1) 95%);
}

.ContentOne .ContentTwo .update .right > div img {
    width: 173px;
    height: 182px;
}

.ContentOne .ContentTwo .update .right > div .price .discount {
    display: flex;
    line-height: 15px;
    justify-content: flex-end;
    margin-right: 5px;
}

.ContentOne .ContentTwo .update .right > div .price .discount > div:first-child {
    color: #a4d007;
    background: #4c6b22;
    height: 15px;
    line-height: 15px;
    margin: 0 5px;
    font-weight: 300;
    font-size: 11px;
}

.ContentOne .ContentTwo .update .right > div .price .prices {

    height: 15px;
    padding: 0 5px 0 7px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: flex-start;
}

.ContentOne .ContentTwo .update .right > div .price .prices > div:first-child {
    color: #7193a6;
    text-decoration: line-through;
    font-size: 11px;
    line-height: 13px;
    height: 13px;
}

.ContentOne .ContentTwo .update .right > div .price .prices > div:last-child {
    color: #acdbf5;
    font-size: 13px;
    line-height: 13px;
    height: 13px;
}

/* 页脚 */
#footer_spacer {
    position: relative;
    height: 210px;
    top: auto;
    bottom: auto;
    padding: 0;
    background-color: #1D2024;
}

#footer {

    background: #171a21;
    top: 14%;
    left: 0;
    width: 100%;
    height: 183px;

    -webkit-text-size-adjust: none;
}

.footer_content {
    top: 55px;
    width: 100%;
    margin: 0 auto;
    padding-top: 6vw;
}

#footer_logo img {
    height: 25px;
    width: auto;
}

.rule {
    height: 8px;
    border-top: 1px solid #363c44;
}

#footer_logo {
    float: left;
    padding-top: 2px;
}

#footer_logo_steam {
    float: right;
    padding: 2px;
}

#footer #footer_text {
    float: left;
    margin-left: 12px;
    font-size: 12px;
    line-height: 16px;
    color: #8F98A0;
}

#footer #footer_text a {
    color: #C6D4DF;
}

#footer #footer_text a:hover {
    color: #FFFFFF;
}

.valve_links {
    margin-top: 8px;
    float: left;
    font-weight: normal;
    font-size: 13px;
    color: #61686d;
}

.valve_links a {
    color: #C6D4DF;
}

.valve_links a:hover {
    color: #FFFFFF;
}
