/* 头部导航栏样式 */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.6;
    min-width: 100%;
    height: auto;

}
.shppingcart{  background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);}
.header {

    background-position: center top;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
}

.content {
    width: 100%;
    height: 68px;
    z-index: 402;
    background-color: #1b2838;
}

.logo {
    padding-top: 10px;
    float: left;
    width: 176px;
    height: 44px;
}
.logo img {
    width: 100%;
    height: 56px;

}
/* 导航栏菜单栏 */
.supernav_container {
    position: absolute;
    width: 168px;
    left: 200px;
    top: -13px;
}

div.header .menuitem {
    padding: 45px 7px 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    text-transform: uppercase;
}

/* 菜单栏字体悬停样式 */
div.header .menuitem:hover {
    text-decoration: none;
    color: #ffffff;
}

/* 菜单下拉框 */
.xl {
    display: none;
    position: absolute;
    width: 88px;
    top: 90%;
    left: 0;
    background: #000;
    padding: 5px 15px 10px;
    box-shadow: 3px 3px 5px -3px #000;
    text-align: left;
    z-index: 500;
}

/* 菜单栏下拉框2 */
.xl2 {
    display: none;
    position: absolute;
    width: 88px;
    top: 90%;
    left: 30%;
    background: #000;
    padding: 5px 15px 10px;
    box-shadow: 3px 3px 5px -3px #000;
    text-align: left;
    z-index: 500;
}

/* 下拉框距离左边间距 */
.submenu_content {
    margin-left: 15px;
}

/* 菜单下拉框字体颜色 */
.submenuitem {
    color: #ffffff;
    display: block;
    padding: 6px 0;
    text-transform: uppercase;
    font-size: 12px;
}

/* 菜单栏下拉框字体悬浮 */
.con:hover .xl {
    display: block;
    height: 179px;
    padding: 6px 0;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 1;
}

/* 下拉框2 */
.cons:hover .xl2 {
    display: block;
    height: 188px;
    padding: 6px 0;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 1;
}

.xl2:hover {
    color: #ffffff;
}

/* Steam下载安装 */
.actions {
    float: right;
    color: #b8b6b4;
    font-size: 11px;
    z-index: 400;
}

.action_menu {
    position: relative;
    line-height: 24px;
    display: inline-flex;
    top: 25px;
}

.header_installsteam_btn {
    display: inline-block;
    position: relative;
    height: 21px;
    line-height: 24px;
    margin-right: 3px;
}

/* 安装背景 */
.header_installsteam_btn_content {
    background-color: #5c7e10;
}

/* 安装样式设置 */
.header_installsteam_btn_content {
    display: inline-block;
    padding: 0 5px;

    background-position: 10px 5px;
    background-image: url("./steam/btn_header_installsteam_download.png");
    background-repeat: no-repeat;
    text-decoration: none;
    color: #e5e4dc;
    font-weight: normal;
}

/* 登录 */
.action_link {
    color: #b8b6b4;
    padding: 0 4px;
    font-weight: normal;
}

.actions a:hover {
    color: #FFFFFF;
}

.actions span:hover {
    color: #FFFFFF;
    cursor: pointer;
}

/* 语言 */
.pulldown {
    display: inline-block;
    padding-left: 4px;
    line-height: 25px;
    padding-right: 18px;
    background-image: url("./steam/btn_arrow_down_padded.png");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.pulldown {
    display: inline-block;
}

/* 语言下拉框 */
.popup_block_new .popup_body {
    border: 1px solid #171a21;
    position: relative;
    background-color: #171a21;
}

.action_menu > * {
    vertical-align: top;
}

.popup_block_new {
    display: none;
    z-index: 200;
    position: absolute;
    box-shadow: 0 0 12px #000000;
    right: 0;
}

/* 语言下拉框悬浮 */
/* 语言文字 */
.popup_menu_item {
    top: 5%;
    display: block;
    padding: 5px 12px;
    color: #b8b6b4;
    text-transform: none;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 礼物卡 */
.ContentOne {
    width: 100%;
    height: 3920px;
    background-color: #1b2838;
}

/* 搜索栏 */
.ContentOne .storeNav {
    position: absolute;
    top: 68px;
    width: 100%;
    background-image: linear-gradient(to right, #3B6490, #2B4B84, #0F216E);
    z-index: 5;
}

.ContentOne .storeNav ul {
    text-align: center;
    vertical-align: center;
}

.ContentOne .storeNav ul li {
    float: left;
    list-style: none;
    height: 35px;
    width: 86px;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 0 2px 3px rgb(0 0 0 / 30%);
    color: #d9d9d9;
    line-height: 35px;
}

.ContentOne .storeNav .store {
    display: inline;
    width: 76px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
}

.ContentOne .storeNav .new {
    display: inline;
    width: 103px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 77px;
}

.ContentOne .storeNav .kind {
    display: inline;
    width: 77px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 180px;
}

.ContentOne .storeNav .store:hover~.secondOne {
    display: flex;
}

.ContentOne .storeNav .secondOne:hover {
    display: flex;
}

.ContentOne .storeNav .store:hover~ul > .yourStore {
    cursor: pointer;
    background-image: linear-gradient(to right, #3180BF, rgba(55, 106, 156, 0.5));
}

.ContentOne .storeNav .new:hover~.secondTwo {
    display: flex;
}

.ContentOne .storeNav .secondTwo:hover {
    display: flex;
}

.ContentOne .storeNav .new:hover~ul > .news {
    cursor: pointer;
    background-image: linear-gradient(to right, #3180BF, rgba(55, 106, 156, 0.5));
}

.ContentOne .storeNav .kind:hover~.secondThree {
    display: flex;
}

.ContentOne .storeNav .secondThree:hover {
    display: flex;
}

.ContentOne .storeNav ul li:nth-child(2) {
    width: 86px;
    padding: 0 6px 0 11px;
}

.ContentOne .storeNav ul li:nth-child(3) {
    width: 56px;
    padding: 0 6px 0 15px;
}

.ContentOne .storeNav ul li img {
    float: left;
    width: 26px;
    height: 26px;
    margin-right: -10px;
}

.ContentOne .storeNav ul li:not(.emptyNav, .search):hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #3180BF, rgba(55, 106, 156, 0.5));
}

.ContentOne .storeNav ul .search {
    width: 180px;
    height: 35px;
    margin-left: 20px;
    padding: 0;
}

.ContentOne .storeNav ul li .searchFor {
    background-color: #316282;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 0 rgb(255 255 255 / 20%);
    height: 25px;
    box-sizing: border-box;
    margin-right: 0;
    margin-top: 5px;
    position: relative;
}

.ContentOne .storeNav ul li .searchFor:hover {
    border: 1px solid blue;
}

.ContentOne .storeNav ul li input {
    height: 27px;
    width: calc(100% - 25px - 8px);
    color: #081116;
    font-size: 14px;
    text-shadow: 1px 1px 0 rgb(255 255 255 / 10%);
    font-weight: 300;
    outline: none;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 0;
    font-style: italic;
    margin-left: 8px;
}

.ContentOne .storeNav ul li .searchFor img {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0;
    right: 11px;
}

.ContentOne .storeNav .secondOne {
    width: 177px;
    height: 126px;
    background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: column;
    padding: 8px 5px;
    box-shadow: 0 0 12px #000000;
    display: none;
}

.ContentOne .storeNav .secondTwo {
    width: 177px;
    height: 156px;
    background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
    position: absolute;
    top: 35px;
    left: 76px;
    display: flex;
    flex-direction: column;
    padding: 8px 5px;
    box-shadow: 0 0 12px #000000;
    display: none;
}

.ContentOne .storeNav .secondThree {
    width: 940px;
    height: 560px;
    background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: row;
    padding: 8px 5px;
    box-shadow: 0 0 12px #000000;
    display: none;
    color: #d9d9d9;
}

.ContentOne .storeNav .secondOne > a {
    color: #D8D8D8;
    font-size: 12px;
    text-align: left;
    text-decoration: none;
    margin: 6px 0 6px 15px;

}

.ContentOne .storeNav .secondTwo > a {
    color: #D8D8D8;
    font-size: 12px;
    text-align: left;
    text-decoration: none;
    margin: 6px 0 6px 15px;
}

.ContentOne .storeNav .secondOne > a:hover {
    text-decoration: 2px underline white;
}

.ContentOne .storeNav .secondTwo > a:hover {
    text-decoration: 2px underline white;
}

#cart {
	margin: 0 auto;
	width: 900px;
	height: 600px;
	background-color: #fff;
	box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}

.items {
	float: left;
	width: 710px;
	margin: 0 5px;
	height: 100%;
	
}

.subTotal {
	float: left;
	width: 180px;
	margin: 0;
	height: 100%;
	background-color: #ECF0F1;
	text-align: center;
}

.items h1 {
	margin: 5px 0;
	font-size: 24px;
	color: #2C3E50;

}

.subTotal h1 {
	margin: 10px 0;
	font-size: 20px;
	color: #34495E;

}

.subTotal h2 {
	margin: 5px 0;
	font-size: 16px;
	color: #34495E;

}

.subTotal h3 {
	margin: 15px 0;
	font-size: 20px;
	color: #16A085;
	font-weight: bold
}

.subTotal h4 {
	margin: 15px 0;
	font-size: 12px;
	color: rgba(0,0,0,.3);
}

.checkout {
	height: 30px;
	line-height: 30px;
	width: 100px;
	margin: 10px auto;
	background-color: #E74C3C;
	color: #fff;
}

form {
	font-size: 14px;
	color: #1ABC9C;
}

input[type=checkbox] {
	margin-right: 5px;
}

/*********************************************/

			ul { margin: 0; padding: 0 }
		
			ul li { 
				list-style-type: none; 
			}
		
			.item { 
				width: 660px; 
				height: 100px;
				margin: 10px auto;
				text-align: left;
			}
			
			 img { 
			 	display: block;
				border: 0; 
				padding: 0; 
				margin: 0 auto; 
				margin-top: 10px; 
				width: 75px; 
				height: 80px; 
			}
			
			.product_image { 
				float: left;
				width: 100px;
			}
			
			.description { 
				float: left; 
				padding-left: 5px; 
				float: left; 
				width: 355px;
				height: 100px;
			}
			
			.description h1 {
				font-size: 14px; 
				color: #e74c3c
			}
			
			.description h2 {
				font-size: 12px; 
				color: #2c3e50;
				margin: 5px 0;
			}
			
			.description h3 {
				display: inline-block;
				font-size: 10px; 
				height: 20px; 
				line-height: 20px; 
				width: 100px;  
				text-align: center;
				margin: 15px 0;
			}
			
			.description h3.delete {
				background-color: #c0392b;
				color: #fff;
			}
			
			.description h3.save {
				background-color: #1ABC9C;
				color: #fff;
			}
			
			.product_quantity {
				float: left; 
				width: 100px; 
				height: 100px
			}
			
			.quantity_button {
				margin: 33px auto;
        height: 26px;
        width: 71px;
        text-align: center;
        padding: 2px;
        background-color: #ECF0F1;
			}
			
		.how_many {
			width: 46px;
      float: left;
      height: 26px;
      line-height: 30px;
      font-size: 1.25em;
      background-color: #fff;
      color: #7F8C8D;
		}
		
		.add_sub {
			float: left;
      width: 25px;
		}
		
		.add {
			line-height: 13px;
      width: 100%;
      font-size: 10px;
      color: #1ABC9C;
      text-align: center;
      font-weight: bold;
		}
		
		.sub {
			line-height: 13px;
      font-size: 12px;
      color: #E74C3C;
      text-align: center;
      width: 100%;
      font-weight: bold;
		}
		
		.price { 
			float: left;
			width: 100px;
			text-align: center;
			line-height: 100px;
			font-size: 1.5em;
			color: #2C3E50
		}
/********************************/

.save ul { margin: 0; padding: 0; display: inline;}
		
			.save ul li { 
				list-style-type: none; 
			}
		
			.saved_item { 
				
				float: left;
				width: 100px; 
				height: 130px;
				margin: 10px 5px;
			}
			
			 .img { 
			 	display: block;
				border: 0; 
				padding: 0; 
				margin: 0 auto; 
				margin-top: 10px; 
				width: 75px; 
				height: 80px; 
			}
			
			.product_image { 
				float: left;
				width: 100px;
				height: 100px;
			}
			
			.add_cart {
				height: 30px;
				line-height: 16px;
				font-size: 12px;
				text-align: center;
				width: 100%;
				color: #16A085;
				font-weight: bold;
			}
			
			.save {
				width: 660px;
				height: 150px;
			
				margin: 0 auto;
			}

#footer_spacer {
    position: relative;
    height: 210px;
    top: auto;
    bottom: auto;
    padding: 0;
    background-color: #1D2024;
}

#footer {

    background: #171a21;
    top: 14%;
    left: 0;
    width: 100%;
    height: 183px;

    -webkit-text-size-adjust: none;
}

.footer_content {
    top: 55px;
    width: 940px;
    margin: 0 auto;
    padding-top: 30px;
}

#footer_logo img {
    height: 25px;
    width: auto;
}

.rule {
    height: 8px;
    border-top: 1px solid #363c44;
}

#footer_logo {
    float: left;
    padding-top: 2px;
}

#footer_logo_steam {
    float: right;
    padding: 2px;
}

#footer #footer_text {
    float: left;
    margin-left: 12px;
    font-size: 12px;
    line-height: 16px;
    color: #8F98A0;
}

#footer #footer_text a {
    color: #C6D4DF;
}

#footer #footer_text a:hover {
    color: #FFFFFF;
}

.valve_links {
    margin-top: 8px;
    float: left;
    font-weight: normal;
    font-size: 13px;
    color: #61686d;
}

.valve_links a {
    color: #C6D4DF;
}

.valve_links a:hover {
    color: #FFFFFF;
}
